body {
    background-color: blanchedalmond;
    margin: -1px;
    font-family: sans-serif;
}

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 40px;
    margin-top: -40px;
    padding-top: 20px;
    border-bottom: 5px solid black;
    background-color: #fad3a4;
    color: white;
    text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
        1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

.menu1 {
    font-size: 60px;
}

.menu2 {
    font-size: 30px;
}

.menus {
    font-family: monospace;
    width: max-content;
    text-align: center;
    list-style: none;
    margin: 0 auto;
}

.menus .menu1 li {
    padding-left: 50px;
    padding-right: 50px;
}

.menus li {
    padding: 10px;
    border: 5px solid black;
    color: black;
    background-color: #fad3a4;
}

.menus li:hover {
    background-color: #ce9d61;
    color: white;
}

.menu {
    font-family: monospace;
    display: inline-flex;
    font-size: 20px;
    text-align: center;
    list-style: none;
    height: max-content;
    width: max-content;
}

.menu li {
    display: inline;
}

a {
    text-decoration: none;
}

.inicio a {
    color: blue;
}

.desenvolvimento img {
    width: 300px;
    height: 300px;
}

.desenvolvimento h1,
.desenvolvimento img,
.desenvolvimento ol,
.desenvolvimento table,
video {
    margin-bottom: 50px;
}

.inicio a:hover {
    color: #00bfff;
}

.inicio {
    font-size: 25px;
    padding: 20px;
    padding-top: 100px;
    margin-top: -30px;
    text-align: justify;
    height: 100%;
    font-family: sans-serif;
}

.container {
    display: list-item;
}

.desenvolvimento {
    padding-left: 40px;
    padding-right: 40px;
}

.desenvolvimento p {
    margin-bottom: 50px;
}


.container_ {
    background-color: blue;
    width: 500px;
    height: 250px;
    display: flex;
}


.filho_ {
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 50%;
    width: 50%;
}

.filho_ p {
    height: 70%;
    overflow: scroll;
    background-color: green;
}